# dot folders
.cache/
.idea/
.vs/
.vscode/
.xmake/

# folders
build/
vs*/

# files
*.zip
compile_commands.json
/lib
lib/commonlibsse-ng
Data/SKSE/Plugins/advanced-nudity-detection.pdb
Data/SKSE/Plugins/advanced-nudity-detection.dll
